$text: 'Josefin Sans', sans-serif;
$primary1: hsl(0, 36%, 70%);
$primary2: hsl(0, 93%, 68%);
$neutral1: hsl(0, 6%, 24%);
$grad1: linear-gradient(135deg,hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$grad2: linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%));

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    }

img{
    width: 100%;
    height: auto;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $text;
    height: 100vh;
}

main{
    width: 90rem;
    height: 50rem;
    display: grid;
    grid-template-columns: 1fr auto;
}

.text-area{

    display: flex;
    flex-direction: column;
    padding: 4rem 14rem 0 10rem;
    background-image: url(/images/bg-pattern-desktop.svg),$grad1;
}

.input-area{
    display: grid;
}

span{
    display: block;
}

h1{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-bottom: 1.5rem;
}

.lighter-weight{
    font-weight: 300;
    color: $primary1;
}

p{
    color: $primary1;
    line-height: 1.75rem;
    padding-bottom: 3rem;
}

.logo-container{
    width: 10rem;
    margin-bottom: 5.5rem;
}

.hero-container{
    width: auto;
}

input{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 0.0625rem solid transparentize($primary1, 0.5);
    color: $primary1;
    padding: {
        top:1rem;
        bottom: .85rem;
    }
    border-radius: 2rem;
        &:focus-visible,
        &:focus{
            outline: none;
        }
}

.placeholder-position{
    padding-left: 1.5rem;
}

.arrow-container{
    width: fit-content;
    background: $grad2;
    border-radius: 2rem;
    padding: {
        top:1rem;
        bottom: .85rem;
        left: 2.75rem;
        right: 2.75rem;
    }   
    &:hover{
        background: lighten(grad2, 0.5);
    }
}

a{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: end;
}

@media (width: 600px) {
    body{
        font-size: 50%;
    }

    .text-area{
        font-size: 50%;}
}